<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>UFOs</title>
</head>
<body>

<h1 class="text-2xl font-bold text-primary p-8">Avistamentos de UFO</h1>

<a href="/ufo/form" class="btn btn-primary">Novo UFO</a>

<div th:if="${message}" role="alert" class="alert alert-success alert-soft m-4">
    <span th:text="${message}"></span>
</div>

<main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-items-center gap-4 p-8">
    <div th:each="ufo : ${ufo}" class="card card-border bg-base-300 w-96">
        <div class="card-body items-center">
            <h2 class="card-title" th:text="${ufo.location}">Localização</h2>
            <p><b>Formato:</b> <span th:text="${ufo.shape}"></span></p>
            <p><b>Data e Hora:</b> <span th:text="${#temporals.format(ufo.dateAndTime, 'dd/MM/yyyy HH:mm')}"></span></p>
            <p><b>Quantidade:</b> <span th:text="${ufo.quantity}"></span></p>
        </div>
        <div class="card-actions justify-end m-4">
            <!-- Botão de apagar pode ser implementado depois -->
            <!-- <button class="btn btn-primary">apagar</button> -->
        </div>
    </div>
</main>

</body>
</html>